name,base_url,model,api_key
gemini,https://generativelanguage.googleapis.com/v1beta/openai/,gemini-3.1-flash-lite-preview,your-api-key
groq,https://api.groq.com/openai/v1,openai/gpt-oss-120b,your-api-key
cerebras,https://api.cerebras.ai/v1,wen-3-235b-a22b-instruct-2507,your-api-key
sambanova,https://api.sambanova.ai/v1,DeepSeek-V3.1,your-api-key
openrouter,https://openrouter.ai/api/v1,openrouter/owl-alpha,your-api-key
github,https://models.github.ai/inference,openai/gpt-4.1,your-api-key
cloudfare,https://api.cloudflare.com/client/v4/accounts/c785313fdec860d28b53c9149bb4d56c/ai/v1,@cf/google/gemma-4-26b-a4b-it,your-api-key
cohere,https://api.cohere.ai/compatibility/v1,command-r-plus-08-2024,your-api-key
zai,https://api.z.ai/api/paas/v4,glm-4.7-flash,your-api-key
nvidia,https://integrate.api.nvidia.com/v1,minimaxai/minimax-m2.7,your-api-key
vercel,https://ai-gateway.vercel.sh/v1,deepseek/deepseek-v4-flash,your-api-key
opencode,https://opencode.ai/zen/v1,minimax-m2.5-free,your-api-key
inferencenet,https://api.inference.net/v1,google/gemma-3-27b-instruct/bf-16,your-api-key
ai21,https://api.ai21.com/studio/v1,jamba-large,your-api-key
alibaba,https://dashscope-intl.aliyuncs.com/compatible-mode/v1,qwen3.5-flash,your-api-key
kilo,https://api.kilo.ai/api/gateway,nvidia/nemotron-3-super-120b-a12b:free,your-api-key
llm7,https://api.llm7.io/v1,default,your-api-key
upstage,https://api.upstage.ai/v1/,solar-pro2,your-api-key
byteplus,https://ark.ap-southeast.bytepluses.com/api/v3,gpt-oss-120b-250805,your-api-key
